<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Medical Help</title>
</head>

<body>
    <div style="margin-top: 50px;" class="container">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid" style="font-family: Consolas;">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/" style="color: black;">Heart Disease
                            Predictor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/table" style="color: black;">Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/working" style="color: black;">Working</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/help" style="color: black;">Medical Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus" style="color: black;">About Us</a>
                    </li>
                </ul>

            </div>
        </nav>
        <br><br>
        <article class="blog-post">
            <h2 class="blog-post-title">Why It’s Important to See Your Doctor?</h2>
            <p class="blog-post-meta">August 20, 2021 by <a href="https://www.linkedin.com/in/rahulpatil35/"
                    target="_blank">Rahul</a>
            </p>

            <p>Your heart health is important. Cardiovascular conditions such as blocked arteries from plaque build-up
                or a leaky heart
                valve can lead to more serious problems such as heart failure or even sudden death. While some people
                can have a blocked
                artery or leaky valve and never have symptoms, others develop symptoms such as tiredness, a feeling that
                your heart is
                fluttering, or breathlessness.

                If you notice any of these symptoms, do not delay. Talk to your doctor about seeing a heart specialist.
            </p>
            <br>
            <p><strong>Helpline</strong></p>
            <p>A telephone line operated by a charitable organization for people in distress.</p>
            <br><br>
            <h3>Helpline Numbers</h3>
            <p>If you notice any of the symptoms, do not delay. Call these helpline numbers.</p>
            <table class="table" style="font-family: Consolas;">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Location</th>
                        <th>Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>National Emergency number</td>
                        <td>Anywhere in India</td>
                        <td>112</td>
                    </tr>
                    <tr>
                        <td>Ambulance Helpline</td>
                        <td>Anywhere in India</td>
                        <td>102</td>
                    </tr>
                    <tr>
                        <td>Disaster Management Services</td>
                        <td>Anywhere in India</td>
                        <td>108</td>
                    </tr>


                    <tr>
                        <td>NDMA Disaster Management</td>
                        <td>Anywhere in India</td>
                        <td>1078</td>
                    </tr>
                    <tr>
                        <td>NDRF Helpline</td>
                        <td>Anywhere in India</td>
                        <td>9711077372</td>
                    </tr>
                    <tr>
                        <td>Railway Accident Emergency Service</td>
                        <td>Anywhere in India</td>
                        <td>1072</td>
                    </tr>
                    <tr>
                        <td>LPG Leak Helpline</td>
                        <td>Anywhere in India</td>
                        <td>1906</td>
                    </tr>


                    <tr>
                        <td>Police Control Room</td>
                        <td>Anywhere in India</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Centralised Accident & Trauma Services (CATS)</td>
                        <td>Anywhere in India</td>
                        <td>1099</td>
                    </tr>
                    <tr>
                        <td>Ambulance Helpline , Delhi</td>
                        <td>New Delhi</td>
                        <td>1092</td>
                    </tr>
                    <tr>
                        <td>Women's Helpline</td>
                        <td>New Delhi</td>
                        <td>1091</td>
                    </tr>


                    <tr>
                        <td>Women's Helpline</td>
                        <td>Anywhere in India</td>
                        <td>181</td>
                    </tr>
                    <tr>
                        <td>Senior Citizen Helpline</td>
                        <td>New Delhi</td>
                        <td>1091 , 1291</td>
                    </tr>
                    <tr>
                        <td>Anti-Obscene Calls Cell</td>
                        <td>New Delhi</td>
                        <td>1091</td>
                    </tr>
                    <tr>
                        <td>Medical Helpline, State</td>
                        <td>Anywhere in India</td>
                        <td>108</td>
                    </tr>


                    <tr>
                        <td>Indian Red Cross Society</td>
                        <td>New Delhi</td>
                        <td>011- 23711551</td>
                    </tr>
                    <tr>
                        <td>Directory Enquiry</td>
                        <td>Anywhere in India</td>
                        <td>197</td>
                    </tr>
                    <tr>
                        <td>CGHS Helpline, Directorate General of Health Services</td>
                        <td>Anywhere in India</td>
                        <td>155224</td>
                    </tr>
                    <tr>
                        <td>Disaster Management of Govt. of NCT of Delhi</td>
                        <td>New Delhi</td>
                        <td>1077</td>
                    </tr>


                    <tr>
                        <td>Ambulance Service</td>
                        <td>Anywhere in India</td>
                        <td>1066</td>
                    </tr>
                    <tr>
                        <td>Helpline for Women</td>
                        <td>New Delhi</td>
                        <td>1092</td>
                    </tr>
                    <tr>
                        <td>ORBO C.N.Centre, AIIMS ( for donation of organs)</td>
                        <td>Anywhere in India</td>
                        <td>1060</td>
                    </tr>
                    <tr>
                        <td>AIIMS - Blood Bank</td>
                        <td>New Delhi</td>
                        <td>011- 26593726</td>
                    </tr>


                    <tr>
                        <td>National Heart Institute</td>
                        <td>Anywhere in India</td>
                        <td>011- 6414156</td>
                    </tr>
                </tbody>

            </table>
        </article>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
</body>

</html>