<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Working</title>
</head>

<body>
    <div style="margin-top: 50px; " class="container">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid" style="font-family: Consolas;">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/" style="color: black;">Heart Disease
                            Predictor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/table" style="color: black;">Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/working" style="color: black;">Working</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help" style="color: black;">Medical Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus" style="color: black;">About Us</a>
                    </li>
                </ul>

            </div>
        </nav>

        <br><br>

        <main class="container">
            <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 fst-italic">Logistic Regression</h1>
                    <p class="lead my-3">Logistic regression is a supervised learning classification algorithm used to
                        predict the probability of a target
                        variable. The nature of target or dependent variable is dichotomous, which means there would be
                        only two possible
                        classes.</p>
                    <p class="lead mb-0"><a
                            href="https://www.tutorialspoint.com/machine_learning_with_python/machine_learning_with_python_classification_algorithms_logistic_regression.htm"
                            class="text-white fw-bold" target="_blank">Continue reading...</a></p>
                </div>
            </div>


            <div class="row row-cols-1 row-cols-md-3 g-4" style="font-family: Consolas;">
                <div class="col">
                    <div class="card h-100">
                        <img src="https://images.unsplash.com/photo-1521898284481-a5ec348cb555?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1000&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFwdG9wLG9mZmljZXx8fHx8fDE2Mjk0NDM3MTc&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1000"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">User-friendly</h5>
                            <p class="card-text">This webiste is built simple so that user with minimal knowledge can
                                operate with ease.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://images.unsplash.com/photo-1534723328310-e82dad3ee43f?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1000&ixid=MnwxfDB8MXxyYW5kb218MHx8bWFjaGluZSxsZWFybmluZ3x8fHx8fDE2Mjk0NDM3OTQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1000"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Training Data</h5>
                            <p class="card-text">300+ unique data is used to train this model.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://helloacm.com/wp-content/uploads/2016/03/logistic-regression-example.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Logic</h5>
                            <p class="card-text">Logistic Regression calculates the probability, by which a sample
                                belongs to a class, given the features in the sample.
                                This probability is calculated for each response class. The class with the highest
                                probability is generally taken to be
                                the predicted class.</p>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>
            <div class="row g-5" style="font-family: Consolas;">
                <div class="col-md-8">
                    <h3 class="pb-4 mb-4 fst-italic border-bottom">
                        Introduction
                    </h3>

                    <article class="blog-post">
                        <h2 class="blog-post-title">Explaination of ML Model</h2>
                        <p class="blog-post-meta">August 20, 2021 by <a href="https://www.linkedin.com/in/rahulpatil35/"
                                target="_blank">Rahul</a></p>
                        <p>The "goal" of this project is to find the presence of heart disease in the patient.</p>
                        <br><br>
                        <h3>Features & Target</h3>
                        <br>
                        <p>Features list</p>
                        <ul>
                            <li>age</li>
                            <li>sex</li>
                            <li>chest pain type (4 values)</li>
                            <li>resting blood pressure</li>
                            <li>serum cholestoral in mg/dl</li>
                            <li>fasting blood sugar > 120 mg/dl</li>
                            <li>resting electrocardiographic results (values 0,1,2)</li>
                            <li>maximum heart rate achieved</li>
                            <li>exercise induced angina</li>
                            <li>oldpeak = ST depression induced by exercise relative to rest</li>
                            <li>the slope of the peak exercise ST segment</li>
                            <li>number of major vessels (0-3) colored by flourosopy</li>
                            <li>thal (4 values)</li>
                        </ul>
                        <p>Target list</p>
                        <ul>
                            <li>result (values 0,1 | 0: heart disease not present, 1: heart disease present)</li>
                        </ul>
                        <br>
                        <p>And this is a definiton list:</p>
                        <dl>
                            <dt>Features</dt>
                            <dd>A feature is a measurable property of the object you’re trying to analyze. In datasets,
                                features appear as columns.</dd>
                            <dt>Target</dt>
                            <dd>The target variable of a dataset is the feature of a dataset about which you want to
                                gain a deeper understanding.</dd>
                        </dl>
                        <br><br>
                        <h2>Validations</h2>
                        <p>Validation is the process of checking whether the given input/product is up to the mark.</a>.
                        </p>
                        <ul>
                            <li><strong>Age</strong> - 10 to 130</li>
                            <li><strong>Blood Pressure</strong> - 80 to 200</li>
                            <li><strong>Cholesterol</strong> - 100 to 600</li>
                            <li><strong>Heart Rate</strong> - 70 to 210</li>
                            <li><strong>Oldpeak</strong> - 0.0 to 6.0</li>
                        </ul>
                        <br><br>

                </div>

                <div class="col-md-4">
                    <div class="position-sticky" style="top: 2rem;">
                        <div class="p-4 mb-3 bg-light rounded">
                            <h4 class="fst-italic">About</h4>
                            <p class="mb-0">This project is developed by Rahul</p>
                            <br>
                            <p><a href="https://github.com/rahul3355" target="_blank">GitHub</a></p>
                            <p><a href="https://www.linkedin.com/in/rahulpatil35/" target="_blank">LinkedIn</a></p>
                        </div>

                        <div class="p-4">
                            <h4 class="fst-italic">Archives</h4>
                            <ol class="list-unstyled mb-0">
                                <li><a href="https://www.kaggle.com/ronitf/heart-disease-uci" target="_blank">Kaggle
                                        Dataset</a></li>
                                <li><a href="https://machinelearningmastery.com/logistic-regression-for-machine-learning/"
                                        target="_blank">Logistic
                                        Regression</a></li>
                            </ol>
                        </div>

                        <div class="p-4">
                            <h4 class="fst-italic">Elsewhere</h4>
                            <ol class="list-unstyled">
                                <li><a href="https://github.com/rahul3355" target="_blank">GitHub</a></li>
                                <li><a href="https://www.linkedin.com/in/rahulpatil35/" target="_blank">LinkedIn</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

        </main>



    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
</body>

</html>